body {
    font-family: 'Anton', sans-serif;
}
.product {
    border-bottom: 1px solid gray;
    padding: 8px 0;
}
.product__title {
    margin: 0;
}

.product__description {
    font-style: italic;
    font-size: 11px;
}